{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | My Blog{% endblock %}

{% block content %}


<div class="container">
    <!-- Main Post Content -->
    <div class="main-content">
        <h1>{{post.title}}</h1>
        <div class="post-meta">
            <span>By <a href="#">{{post.author}}</a></span>
            <span>| Published on {{post.created_at}}</span>
        </div>

    <div class="post-content">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Travel Solo" style="max-width:800px;">
            {% endif %}
            <p>{{ post.body|linebreaks }}</p>
    </div>


    <div class="container">
        {% for comment in comments %}
            <div style="font-size: 20px; background-color: rgba(255, 255, 255, 0.444);">
                <img src="../../static/blog/img/user-icon.png" 
                style="width: 50px;"
                alt="">
                <strong>{{comment.name}}</strong> said on {{comment.created_at}}:
                <p>{{comment.body}}</p>
                <hr style="border: 2px black solid ;">
                <br>
            </div>
            {% empty %}
            <h3>No comments yet...</h3>
        {% endfor %}
    </div>


    <div class="container">
        <h2>leave a comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="search-it">submit</button>
            <br>
            <h4>* your comment will be shown after getting approved</h4>
        </form>
    </div>

    <a href="{% url 'home' %}">← Back to Home</a>


{% endblock %}

</div>
