{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | My Blog{% endblock %}

{% block content %}


<div class="container">
    <!-- Main Post Content -->
    <div class="main-content">
        <h1>{{post.title}}</h1>
        <div class="post-meta">
            <span>By <a href="#">{{post.author}}</a></span>
            <span>| Published on {{post.created_at}}</span>
        </div>

    <div class="post-content">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Travel Solo" style="max-width:800px;">
            {% endif %}
            <p>{{ post.body|linebreaks }}</p>
    </div>


    <div class="container">
        {% for comment in comments %}
            <div>
                <strong>{{comment.name}}</strong> said on {{comment.created_at}}:
                <p>{{comment.body}}</p>
            </div>
            {% empty %}
            <p>No comments yet...</p>
        {% endfor %}
    </div>


    <div class="container">
        <h3>leave a comment</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="search-it">submit</button>
        </form>
    </div>

    <a href="{% url 'home' %}">← Back to Home</a>

{% endblock %}
